
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  margin-top: 60px;
}


.auth-form{
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-button{
  font-weight: 600;
  background-color: #111;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: white;
  margin: 1rem;
  border-radius: 4px;
}


