
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  margin-top: 60px;
}


.auth-form{
  padding: 1rem;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

}

button.form-button{
  font-weight: 600;
  background-color: #E62346;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 4px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.repair-form{
  padding: 1rem;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

}

.align-auto{
  margin: 0 auto;
}

.content-wrapper{
  padding-top: 35px;
}

.product-column{
  margin: 3rem 0.5rem;
}

.product-card{
  width: 400px;
  min-width: 250px;
  max-width: 100%;
  padding: 1rem;
  /* margin: 1rem 0.5rem; */
  border-radius: 8px;
  /* box-shadow: -0.125rem 0 1.25rem #000; */
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  border: 1px solid #CED4DA;
  transition: .3s;
}

img.product-img{
  object-fit: contain;
}