.nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition-timing-function: 0.3s ease-in-out !important;
    -webkit-transition: 0.3s ease-in-out !important;
    /* transition: all 0.3s; */
    z-index: 5;
    justify-content: center;
    background-color: white;
}

.nav-logo{
    height: 100px;
    object-fit: contain;
    transition-timing-function: 0.3 ease-in-out !important;
    -webkit-transition: 0.3 ease-in-out !important;
    transition: all 0.3s ease-in-out;
}

.nav-logo.transition{
    height: 60px;
}

.nav-black{
    background-color: white;
    height: 60px;
}

/* .nav-black .nav-logo{
    height: 60px;
} */


a.nav-links.nav-link{
    font-weight: 600;
    margin: 0rem 1rem;
    text-decoration: none;
}


.transition{
    color: white !important;
}




.nav-shopping-cart{
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .nav{
        transition: none;
    }
    div.navbar-nav{
        background-color: #111;
    }

    a.nav-link.false{
        color:white !important;
    }
  }
