/* .nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    transition-timing-function: ease-in !important;
    -webkit-transition: ease-in !important;
    transition: all 0.5s;
}

.nav-black{
    background-color: #111;
} */

a.nav-link{
    font-weight: 600;
    margin: 0rem 1rem;
}

/* a.nav-link.transition{
    color: white !important;
} */

.nav-logo{
    left: 20px;
    width: 130px;
    object-fit: contain;
}

.nav-shopping-cart{
    cursor: pointer;
    /* width: 130px;
    right: 0px; */
}

